USE [master]
GO
/****** Object:  Database [TEST_SINQIA]    Script Date: 14/06/2024 23:59:29 ******/
CREATE DATABASE [TEST_SINQIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEST_SINQIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TEST_SINQIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TEST_SINQIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TEST_SINQIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TEST_SINQIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TEST_SINQIA]
GO
/****** Object:  Table [dbo].[CIDADES]    Script Date: 14/06/2024 23:59:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIDADES](
	[COD_CIDADE] [int] IDENTITY(1,1) NOT NULL,
	[CID_NOME] [nvarchar](50) NOT NULL,
	[CID_ESTADO] [nvarchar](50) NOT NULL,
	[CID_CEP_INICIAL] [int] NOT NULL,
	[CID_CEP_FINAL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_CIDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 14/06/2024 23:59:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[COD_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[CLI_CPF] [nvarchar](15) NOT NULL,
	[CLI_NOME] [nvarchar](50) NOT NULL,
	[CLI_TELEFONE] [nvarchar](15) NOT NULL,
	[CLI_ENDERECO] [nvarchar](50) NOT NULL,
	[CLI_BAIRRO] [nvarchar](50) NOT NULL,
	[CLI_COMPLEMENTO] [nvarchar](50) NULL,
	[CLI_EMAIL] [nvarchar](100) NOT NULL,
	[COD_CIDADE] [int] NOT NULL,
	[CLI_CEP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_COD_CIDADE] FOREIGN KEY([COD_CIDADE])
REFERENCES [dbo].[CIDADES] ([COD_CIDADE])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_COD_CIDADE]
GO
USE [master]
GO
